<header>
  <nav class="navbar navbar-expand-lg navbar-dark">        
    <div class="container">
      <div class="navbar-brand">
        <img class="logoAp" src="assets/img/logoAP.png" alt="Logo">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>         
      <div class="collapse navbar-collapse " id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="https://ar.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-navbar"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/" target="_blank"><i class="fa fa-github fa-navbar"></i></a></li>
          <li class="nav-item" *ngIf="!isLogged()"><a aria-current="page"><button type="button" class="btn btn-outline-primary login" routerLink="/login">Login</button></a></li>                  

          <li class="nav-item" *ngIf="isLogged()"><a aria-current="page"><button type="button" class="btn btn-outline-primary login" (click)="logout()">Logout</button></a></li>                  
        </ul>      
      </div>
    </div><!-- /container -->
  </nav>
</header>
