.hero{
    background-image: url("/assets/img/landscape.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    min-height: 100vh; 
  
   filter: grayscale(40%); 
  
}