<div class="proyectos">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="col-md-8">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Proyectos</h2>
          <div class="hr"><hr></div>
        </div>

        <!-- boton agregar -->
        <div class="col-md-12 text-end">
          <button type="button" class="btn btn-success btn-edicion" data-bs-toggle="modal" data-bs-target="#agregarProyectoModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->

        <!-- Modal → agregar proyecto -->
        <div class="modal fade" id="agregarProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="agregarProyectoModalLabel" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="agregarProyectoModalLabel">Añadir Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div><!-- /Modal → agregar proyecto -->

        <div class="row justify-content-center row-cols-1 row-cols-lg-2 g-4 py-4"> 
          <div class="col" *ngFor="let project of projects"> 
            <div class="card img-project h-100 overflow-hidden text-white bg-dark shadow bg-body" style="background-image: url('{{project.imagenProject}}');"> 
              <div class="d-flex flex-column px-5 pt-3 text-white">
                
                <div class="text-start">
                  <h3 class="pt-4 mt-4 mb-4 display-6 lh-1 text-white tituloP"><strong>{{project.tituloProject}}</strong></h3>
                  <p>{{project.descripcionProject}}</p>
                  <p class="text-start btn-edicion pt-3"><a class="btn btn-sm btn-primary" href="{{project.linkProject}}" target="_blank">Ver proyecto</a></p>
                
                  <!-- botones -->
                  <div class="col-md-12 text-end position-absolute bottom-0 end-0 m-2">

                    <!-- Boton → editar -->
                    <button type="button" class="btn btn-edicion btn-primary" data-bs-toggle="modal" data-bs-target="#editarProyectoModal">
                      <i class="fa fa-pencil"></i> 
                    </button>

                    <!-- Boton → borrar -->
                    <button type="button" class="btn btn-edicion btn-danger" data-bs-toggle="modal" data-bs-target="#borrarProyectoModal">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div> <!-- /botones -->

                  <!-- Modal → editar proyecto -->
                  <div class="modal fade" id="editarProyectoModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarProyectoModalLabel" aria-hidden="true">
                            
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editarProyectoModalLabel">Editar Proyecto</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- /Modal → editar proyecto -->
                  
                  <!-- Modal → borrar proyecto -->
                  <div class="modal fade" id="borrarProyectoModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="borrarProyectoModalLabel" aria-hidden="true">
                                                
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="borrarProyectoModalLabel">Borrar Proyecto</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <h1>borrar</h1>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- /Modal → borrar proyecto -->
                
                  
                </div>             
                
              </div> 
            </div>  
               
            
          </div> 
     
           
     
          
        </div>
             
           
            

          
        

      </div> <!-- columna-10 -->
    </div><!-- /row -->


  </div> <!-- /container -->
</div>