<div class="proyectos">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10 ">
        <div class="col-md-8">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Proyectos</h2>
          <div class="hr"><hr></div>
        </div>

        <!-- boton agregar -->
        <div class="col-md-12 text-end">
          <button type="button" class="btn btn-outline-success btn-edicion" data-bs-toggle="modal" data-bs-target="#agregarProyectoModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->

        <!-- Modal → agregar proyecto -->
        <div class="modal fade" id="agregarProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="agregarProyectoModalLabel" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="agregarProyectoModalLabel">Añadir Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div><!-- /Modal → agregar proyecto -->

        <div class="d-flex justify-content-center pt-4">
          <!-- Carousel -->
          <div id="carouselProyectos" class="carousel slide w-75" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselProyectos" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carouselProyectos" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carouselProyectos" data-bs-slide-to="2"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/projects.jpg" alt="Projects" class="d-block w-100">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Proyecto 1</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-sm btn-primary" href="#">Ver proyecto</a></p>

                    <!-- botones -->
                    <div class="col-md-12 text-end">

                      <!-- Boton → editar -->
                      <button type="button" class="btn btn-outline-primary btn-edicion" data-bs-toggle="modal"
                        data-bs-target="#editarProyectoModal">
                        <i class="fa fa-edit"></i>
                      </button>

                      <!-- Boton → borrar -->
                      <button type="button" class="btn btn-outline-danger btn-edicion" data-bs-toggle="modal"
                        data-bs-target="#borrarProyectoModal">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div> <!-- /botones -->

                  </div>


                  <!-- Modal → editar proyecto -->
                  <div class="modal fade" id="editarProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="editarProyectoModalLabel" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editarProyectoModalLabel">Editar Proyecto</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- /Modal → editar proyecto -->

                  <!-- Modal → borrar proyecto -->
                  <div class="modal fade" id="borrarProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="borrarProyectoModalLabel" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="borrarProyectoModalLabel">Borrar Proyecto</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <h1>borrar</h1>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- /Modal → borrar proyecto -->

                </div> <!-- container -->
              </div><!-- /carousel-item -->


              
              
              
            </div> <!-- /carousel -->
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProyectos"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProyectos"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> <!-- /carousel → proyectos-->
        </div> <!-- /justify -->

      </div> <!-- columna-10 -->
    </div><!-- /row -->


  </div> <!-- /container -->
</div>