<div class="proyectos" *ngIf="isLogged() || projects?.length !== 0">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="col-md-8" *ngIf="isLogged() || projects?.length !== 0">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Proyectos</h2>
          <div class="hr">
            <hr>
          </div>
        </div>

        <!-- Alerta de inexistencias -->
        <div class="alert alert-warning" role="alert" *ngIf="isLogged() && projects?.length == 0">          
          <p><i class="fa fa-info-circle"></i> No existen proyectos - Añada con el boton verde <strong class="text-success"><i class="fa fa-plus"></i> Añadir</strong></p>
        </div>

        <!-- boton agregar -->
        <div *ngIf="isLogged()" class="col-md-12 text-end">
          <button type="button" class="btn btn-success btn-edicion" (click)="onOpenModal('add')" data-bs-toggle="modal"
            data-bs-target="#addProjectModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->


        <div class="row justify-content-center row-cols-1 row-cols-lg-3 g-4 py-4">
          <div class="col" *ngFor="let project of projects">

            <div class="d-flex flex-column px-2 pt-2">
              <div class="card">
                <img src="{{project.imagenProject}}" alt="Imagen del proyecto" class="card-img-top">

                <div class="card-body">
                  <h4 class="card-text ">{{project.tituloProject}}</h4>
                  <p class="small text-gray"><i class="fa fa-light fa-calendar"></i> {{project.fechaProject}}</p>
                  <p class="">{{project.descripcionProject}}</p>
                  <p class="text-start pt-3"><a class="card-link" href="{{project.linkProject}}" target="_blank">Ver
                      proyecto</a></p>

                  <!-- botones -->
                  <div *ngIf="isLogged()" class="col-md-12 text-end position-absolute bottom-0 end-0 m-2">

                    <!-- Boton → editar -->
                    <button type="button" class="btn btn-primary btn-edicion" (click)="onOpenModal('edit',project)"
                      data-bs-toggle="modal" data-bs-target="#editProjectModal">
                      <i class="fa fa-pencil"></i>
                    </button>

                    <!-- Boton → borrar -->
                    <button type="button" class="btn btn-edicion btn-danger" (click)="onOpenModal('delete',project)"
                      data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
                      <i class="fa fa-trash"></i>
                    </button>

                  </div> <!-- /botones -->

                </div>


              </div>

            </div>



          </div>

        </div>

      </div> <!-- columna-10 -->
    </div><!-- /row -->


  </div> <!-- /container -->
</div>


<!-- ---------------------------------------- Modales -->

<!-- ----------------------- Modal → agregar proyecto -->
<div>
  <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)" class="modal fade" id="addProjectModal"
    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title" id="addProjectModalLabel">Añadir proyecto</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->

        <div class="modal-body">

          <p class="modal-title mb-3 alert alert-success fw-bold" id="addProjectModalLabel"><i
              class="fa fa-info-circle"></i> Nuevo proyecto</p>

          <input type="hidden" ngModel class="form-control" id="idProject" name="idProject">

          <label for="tituloProject" class="form-label mb-2">Título</label>
          <input type="text" ngModel class="form-control input" id="tituloProject" name="tituloProject" required>

          <label for="fechaProject" class="form-label m-2">Fecha</label>
          <input type="text" ngModel class="form-control" id="fechaProject" name="fechaProject" required>

          <label for="descripcionProject" class="form-label m-2">Descripción</label>
          <textarea type="text" ngModel class="form-control" id="descripcionProject"
            name="descripcionProject"></textarea>

          <label for="linkProject" class="form-label m-2">Link del proyecto</label>
          <input type="text" ngModel class="form-control input" id="linkProject" name="linkProject" required>

          <label for="imagenProject" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel class="form-control" id="imagenProject" name="imagenProject" required>
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" id="add-project-form"
            data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="add-project-form" [disabled]="addForm.invalid">Guardar
            cambios</button>
        </div>


      </div>
    </div>

  </form><!-- /Modal → agregar proyecto -->
</div>


<!-- ----------------------- Modal → editar proyecto -->
<div>
  <form #editForm="ngForm" class="modal fade" id="editProjectModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="projectEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title" id="editProjectModalLabel">Editar proyecto</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->

        <div class="modal-body">

          <p class="modal-title mb-3 alert alert-primary fw-bold" id="editProjectModalLabel"><i
              class="fa fa-info-circle"></i> {{editProject?.tituloProject}} </p>

          <input type="hidden" ngModel="{{editProject?.idProject}}" class="form-control" id="idProject"
            name="idProject">

          <label for="tituloProject" class="form-label mb-2">Título</label>
          <input type="text" ngModel="{{editProject?.tituloProject}}" class="form-control input" id="tituloProject"
            name="tituloProject" required>

          <label for="fechaProject" class="form-label m-2">Fecha</label>
          <input type="text" ngModel="{{editProject?.fechaProject}}" class="form-control" id="fechaProject"
            name="fechaProject" required>

          <label for="descripcionProject" class="form-label m-2">Descripción</label>
          <textarea type="text" ngModel="{{editProject?.descripcionProject}}" class="form-control"
            id="descripcionProject" name="descripcionProject"></textarea>

          <label for="linkProject" class="form-label m-2">Link del proyecto</label>
          <input type="text" ngModel="{{editProject?.linkProject}}" class="form-control" id="linkProject"
            name="linkProject" required>

          <label for="imagenProject" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel="{{editProject?.imagenProject}}" class="form-control" id="imagenProject"
            name="imagenProject" required>
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onEditProject(editForm.value)"
            [disabled]="editForm.invalid">Guardar cambios</button>
        </div>


      </div>
    </div>

  </form><!-- /Modal → editar proyecto -->
</div>

<!-- ----------------------- Modal → borrar proyecto -->
<div class="modal fade" data-bs-target="#deleteModalLabel" id="deleteProjectModal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="projectDeleteModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteProjectModalLabel">Borrar proyecto</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> ¿Está seguro que quieres borrar
          <strong>{{deleteProject?.tituloProject}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteProject(deleteProject!.idProject)"
          data-bs-dismiss="modal">Borrar</button>
      </div>
    </div>
  </div>
</div><!-- /Modal → borrar proyecto -->