
<app-header></app-header>

<section class="login">
    <div class="container">

        <div class="row justify-content-center shadow rounded m-5">

            <div class="col-md-6 mx-auto img-login position-relative">
                <span><a class="position-absolute bottom-0 end-0 autor-h px-2 link-secondary text-decoration-none" href="https://www.behance.net/gallery/79254973/Misc-Black-White-Drawings" target="_blank">Autor</a></span>
            </div>

            <div class="col-md-6 p-4">
                <form class="mt-5" [formGroup]="formLogin">
                    <h1 class="h3 m-3 fw-normal display-6">Iniciar sesión</h1>
                    <div class="form m-3">
                        <label class="label mb-2" for="floatingInput">Usuario</label>
                        <input type="email" formControlName="email" [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"  class="form-control input" id="email" placeholder="name@example.com">
                        <div *ngIf="Email?.errors && Email?.touched">
                            <p *ngIf="Email?.hasError('required')" class="alert alert-danger mt-1"> El email es requerido</p>
                            <p *ngIf="Email?.hasError('email')" class="alert alert-danger mt-1">
                                 Formato de email inválido</p>
                        </div>
                    </div>
                    
                    <div class="form m-3">
                        <label class="label mb-2" for="floatingPassword">Contraseña</label>
                        <input type="password" formControlName="password" [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}" class="form-control input" id="password" placeholder="Password">
                        <div *ngIf="Password?.errors && Password?.touched">
                            <p *ngIf="Password?.hasError('required')" class="alert alert-danger mt-1"> La contraseña es requerida</p>
                            <p *ngIf="Password?.errors?.['minlength']" class="alert alert-danger mt-1"> La contraseña debe tener 8 o más caracteres</p>
                        </div>
                    </div>
                    
                    <div class="text-center pt-5">
                        <button type="submit" class="btn  btn-primary" [disabled]="formLogin.invalid">Ingresar</button>
                        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2022 Belén</p> -->
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>

<app-footer></app-footer>