<div class="formacion" *ngIf="isLogged() || educations?.length !== 0">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10">
        
        <div class="col-md-8" *ngIf="isLogged() || educations?.length !== 0">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Formación</h2>
          <div class="hr">
            <hr>
          </div>
        </div>

        <!-- Alerta de inexistencias -->
        <div class="alert alert-warning" role="alert" *ngIf="isLogged() && educations?.length == 0">          
          <p><i class="fa fa-info-circle"></i> No existe formacion - Añada con el boton verde <strong class="text-success"><i class="fa fa-plus"></i> Añadir</strong></p>
         </div>

        <!-- boton agregar -->
        <div *ngIf="isLogged()" class="col-md-12 text-end">
          <button type="button" class="btn btn-success btn-edicion" (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addEducationModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->        

        <!-- -------------------------------------------------------------------- -->

        <!-- Lista de las educaciones -->
        <ul class="timeline" *ngFor="let education of educations">
          <li class="timeline-item bg-white rounded ml-3 p-3 shadow">
            <div class="timeline-arrow"></div>

            <div class="row">
              <div class="col-sm-3">
                <img src="{{education.imagenEducation}}" alt="instituto" class="mx-auto d-block img-logoE">
              </div>
              
              <div class="col-sm-9 contenido-card">
                <h4 class="mb-0">{{education.tituloEducation}}</h4>
                <p class="small text-gray"><i class="fa fa-light fa-calendar"></i> {{education.fechaEducation}}</p>
                <p class="text-small mt-2 font-weight-light">{{education.institucionEducation}}</p>
              </div>


              <!-- botones -->
              <div *ngIf="isLogged()" class="col-md-12 text-end">

                <!-- Boton → editar -->
                <button type="button" class="btn btn-primary btn-edicion" (click)="onOpenModal('edit',education)" data-bs-toggle="modal" data-bs-target="#editEducationModal">
                  <i class="fa fa-pencil"></i>
                </button>

                <!-- Boton → borrar -->
                <button type="button" class="btn btn-edicion btn-danger"  (click)="onOpenModal('delete',education)" data-bs-toggle="modal" data-bs-target="#deleteEducationModal">
                  <i class="fa fa-trash"></i>
                </button>               

              </div> <!-- /botones -->              

            </div>            
            
          </li>         
        </ul>

      </div> <!-- columna-10 -->
    </div><!-- /row -->
  </div><!-- /container -->

</div> <!-- /formacion -->



<!-- ---------------------------------------- Modales -->

<!-- ----------------------- Modal → agregar formacion -->
<div>
  <form #addForm = "ngForm" (ngSubmit)="onAddEducation(addForm)" class="modal fade" id="addEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEducationModalLabel" aria-hidden="true">   
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h3 class="modal-title" id="addEducationModalLabel">Añadir formación</h3> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->
                
        <div class="modal-body">
          <p class="modal-title mb-3 alert alert-success fw-bold" id="addEducationModalLabel"><i class="fa fa-info-circle"></i> Nueva formación</p>

          <input type="hidden" ngModel class="form-control" id="idEducation" name="idEducation">

          <label for="tituloEducation" class="form-label m-2" >Nombre de carrera o curso realizado</label>
          <input type="text" ngModel class="form-control input" id="tituloEducation" name="tituloEducation" required>

          <label for="institucionEducation" class="form-label mb-2" >Institución</label>
          <input type="text" ngModel class="form-control input" id="institucionEducation" name="institucionEducation" required>
                             
          <label for="fechaEducation" class="form-label m-2" >Periodo</label>
          <input type="text" ngModel class="form-control" id="fechaEducation" name="fechaEducation" required>

          <label for="imagenEducation" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel class="form-control" id="imagenEducation" name="imagenEducation" required> 
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" id="add-education-form" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="add-education-form" [disabled]="addForm.invalid">Guardar cambios</button>
        </div>

        
      </div>
    </div>
    
  </form><!-- /Modal → agregar formacion -->
</div>


<!-- ----------------------- Modal → editar formacion -->
<div>
  <form #editForm="ngForm" class="modal fade" id="editEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="educationEditModalLabel" aria-hidden="true">   
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h3 class="modal-title" id="editEducationModalLabel">Editar formación </h3> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->
                
        <div class="modal-body">

          <p class="modal-title mb-3 alert alert-primary fw-bold" id="editEducationModalLabel"><i class="fa fa-info-circle"></i> {{editEducation?.tituloEducation}}</p>

          <input type="hidden" ngModel="{{editEducation?.idEducation}}" class="form-control" id="idEducation" name="idEducation">

          <label for="tituloEducation" class="form-label m-2">Nombre de carrera o curso realizado</label>
          <input type="text" ngModel="{{editEducation?.tituloEducation}}" class="form-control input" id="tituloEducation" name="tituloEducation" required>

          <label for="institucionEducation" class="form-label mb-2">Institución</label>
          <input type="text" ngModel="{{editEducation?.institucionEducation}}" class="form-control input" id="institucionEducation" name="institucionEducation" required>

          <label for="fechaEducation" class="form-label m-2">Periodo</label>
          <input type="text" ngModel="{{editEducation?.fechaEducation}}" class="form-control" id="fechaEducation" name="fechaEducation" required>

          <label for="imagenEducation" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel="{{editEducation?.imagenEducation}}" class="form-control" id="imagenEducation" name="imagenEducation" required > 
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onEditEducation(editForm.value)" [disabled]="editForm.invalid">Guardar cambios</button>
        </div>

        
      </div>
    </div>
    
  </form><!-- /Modal → editar formacion -->
</div>

<!-- ----------------------- Modal → borrar formacion -->
<div class="modal fade" data-bs-target="#deleteModalLabel" id="deleteEducationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="educationDeleteModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteEducationModalLabel">Borrar formación</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class=" alert alert-danger"><i class="fa fa-exclamation-triangle"></i> ¿Está seguro que quieres borrar <strong>{{deleteEducation?.institucionEducation}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteEducation(deleteEducation!.idEducation)" data-bs-dismiss="modal">Borrar</button>
      </div>
    </div>
  </div>
</div><!-- /Modal → borrar formacion -->