<div class="skills">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10 ">

        <div class="col-md-8">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Skills</h2>
          <div class="hr">
            <hr>
          </div>
        </div>

        <!-- boton agregar -->
        <div class="col-md-12 text-end py-1 px-1">
          <button type="button" class="btn btn-success btn-edicion" data-bs-toggle="modal" data-bs-target="#agregarSkillModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->

        <!-- Modal → agregar skill -->
        <div class="modal fade" id="agregarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="agregarSkillModalLabel" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="agregarSkillModalLabel">Añadir Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div><!-- /Modal → agregar skill -->

        <!-- <div class="col-md-12 py-4">
          <h2 class="h2 display-5 fw-bold lh-1 mb-3 text-end">Tecnologías</h2>
        </div> -->





        <div class="row justify-content-center py-4">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2 pt-3 m-2 cardS" *ngFor="let skill of skills">

            <img src="{{skill.imagenSkill}}" class="mx-auto d-block skill-img" alt="{{skill.nombreSkill}}">
            <div class="barra p-3 mx-2">
              <div class="progress x-5" style="height: 13px;">
                <div class="progress-bar bg-primary" role="progressbar" [style.width]="skill.porcentajeSkill + '%'" aria-valuemin="0" aria-valuenow="95" aria-valuemax="100">

                </div>
                
              </div>
              
              <p class="pt-3">{{skill.nombreSkill}}</p>
            </div>


            <!-- botones -->
            <div class="col-md-12 text-end">

              <!-- Boton → editar -->
              <button type="button" class="btn btn-primary btn-edicion" data-bs-toggle="modal" data-bs-target="#editarSkillModal">
                <i class="fa fa-pencil"></i>
              </button>

              <!-- Modal → editar skill -->
              <div class="modal fade" id="editarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="editarSkillModalLabel" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editarSkillModalLabel">Editar Skill</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div><!-- /Modal → editar Skill -->

              <!-- Boton → borrar -->
              <button type="button" class="btn btn-danger btn-edicion" data-bs-toggle="modal" data-bs-target="#borrarSkillModal">
                <i class="fa fa-trash"></i>
              </button>

              <!-- Modal → borrar skill -->
              <div class="modal fade" id="borrarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="borrarSkillModalLabel" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="borrarSkillModalLabel">Borrar Skill</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                      <h1>borrar</h1>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div><!-- /Modal → borrar skill -->

            </div> <!-- /botones -->



          </div><!-- /.col -->

          

        </div><!-- /.row -->

      </div><!-- /columna-10 -->
    </div> <!-- /row principal-->

  </div><!-- /container -->
</div>