<div class="skills" *ngIf="isLogged() || skills?.length !== 0">
  <div class="container py-5">

    <div class="row justify-content-center">
      <div class="col-md-10 ">        

        <div class="col-md-8" *ngIf="isLogged() || skills?.length !== 0">
          <h2 class="h2 display-4 fw-bold lh-1 mb-3">Skills</h2>
          <div class="hr"> 
            <hr>
          </div>
        </div>

        <!-- Alerta de inexistencias -->
        <div class="alert alert-warning" role="alert" *ngIf="isLogged() && skills?.length == 0">          
         <p><i class="fa fa-info-circle"></i> No existen skills - Añada con el boton verde</p>
        </div>

        <!-- boton agregar -->
        <div *ngIf="isLogged()" class="col-md-12 text-end">
          <button type="button" class="btn btn-success btn-edicion" (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addSkillModal">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </div> <!-- /boton agregar -->

        <!-- <div class="col-md-12 py-4">
          <h2 class="h2 display-5 fw-bold lh-1 mb-3 text-end">Tecnologías</h2>
        </div> -->

        <div class="row justify-content-center row-cols-1 row-cols-lg-2 g-4 py-4">
          <div class="col-lg-3 col-md-4 col-sm-6 p-2 pt-3 m-2 cardS" *ngFor="let skill of skills">
            <img src="{{skill.imagenSkill}}" class="mx-auto d-block skill-img" alt="{{skill.nombreSkill}}">
            <div class="barra p-3 mx-2">
              <div class="progress x-5" style="height: 13px;">
                <div class="progress-bar bg-primary" role="progressbar" [style.width]="skill.porcentajeSkill + '%'" aria-valuemin="0" aria-valuemax="100">
                </div>                
              </div>              
              <p class="pt-3">{{skill.nombreSkill}}</p>
            </div>


            <!-- botones -->
            <div *ngIf="isLogged()" class="col-md-12 text-end">

              <!-- Boton → editar -->
              <button type="button" class="btn btn-primary btn-edicion" (click)="onOpenModal('edit',skill)" data-bs-toggle="modal"
              data-bs-target="#editSkillModal">
                <i class="fa fa-pencil"></i>
              </button>

              <!-- Boton → borrar -->
              <button type="button" class="btn btn-edicion btn-danger"  (click)="onOpenModal('delete',skill)" data-bs-toggle="modal"
              data-bs-target="#deleteSkillModal">
                <i class="fa fa-trash"></i>
              </button>               

            </div> <!-- /botones -->   

          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /columna-10 -->
    </div> <!-- /row principal-->

  </div><!-- /container -->
</div>

<!-- ---------------------------------------- Modales -->

<!-- ----------------------- Modal → agregar skill -->
<div>
  <form #addForm = "ngForm" (ngSubmit)="onAddSkill(addForm)" class="modal fade" id="addSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">   
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h3 class="modal-title" id="addSkillModalLabel">Añadir skill</h3> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->
                
        <div class="modal-body">

          <p class="modal-title mb-3 alert alert-success fw-bold" id="addSkillModalLabel"> <i class="fa fa-info-circle"></i> Nueva habilidad</p> 

          <input type="hidden" ngModel class="form-control" id="idSkill" name="idSkill">

          <label for="nombreSkill" class="form-label mb-2" >Nombre</label>
          <input type="text" ngModel class="form-control input" id="nombreSkill" name="nombreSkill" required>
                   
          <label for="porcentajeSkill" class="form-label m-2" >Porcentaje</label>
          <input type="number" ngModel class="form-control input" id="porcentajeSkill" name="porcentajeSkill" min="0" max="100" required>          

          <label for="imagenSkill" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel class="form-control" id="imagenSkill" name="imagenSkill" required> 
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" id="add-skill-form" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="add-skill-form" [disabled]="addForm.invalid">Guardar cambios</button>
        </div>

        
      </div>
    </div>
    
  </form><!-- /Modal → agregar skill -->
</div>


<!-- ----------------------- Modal → editar skill -->
<div>
  <form #editForm="ngForm" class="modal fade" id="editSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="skillEditModalLabel" aria-hidden="true">   
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h3 class="modal-title" id="editSkillModalLabel">Editar skill</h3> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!----------------------- modal cuerpo -->
                
        <div class="modal-body">

          <p class="modal-title mb-3 alert alert-primary fw-bold" id="editSkillModalLabel"><i class="fa fa-info-circle"></i> {{editSkill?.nombreSkill}}</p>

          <input type="hidden" ngModel="{{editSkill?.idSkill}}" class="form-control" id="idSkill" name="idSkill">

          <label for="nombreSkill" class="form-label mb-2">Nombre</label>
          <input type="text" ngModel="{{editSkill?.nombreSkill}}" class="form-control input" id="nombreSkill" name="nombreSkill" required>
          
          <label for="porcentajeSkill" class="form-label m-2" >Porcentaje</label>
          <input type="number" ngModel="{{editSkill?.porcentajeSkill}}" class="form-control input" id="porcentajeSkill" name="porcentajeSkill" min="0" max="100" required>          

          <label for="imagenEducation" class="form-label m-2">Imagen URL</label>
          <input type="text" ngModel="{{editSkill?.imagenSkill}}" class="form-control" id="imagenSkill" name="imagenSkill" required > 
        </div>

        <!----------------------- modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onEditSkill(editForm.value)" [disabled]="editForm.invalid">Guardar cambios</button>
        </div>

        
      </div>
    </div>
    
  </form><!-- /Modal → editar skill -->
</div>

<!-- ----------------------- Modal → borrar skill -->
<div class="modal fade" data-bs-target="#deleteModalLabel" id="deleteSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="skillDeleteModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteSkillModalLabel">Borrar skill</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> ¿Estás seguro que quieres borrar <strong>{{deleteSkill?.nombreSkill}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteSkill(deleteSkill!.idSkill)" data-bs-dismiss="modal">Borrar</button>
      </div>
    </div>
  </div>
</div><!-- /Modal → borrar skill -->