
/* ---------------------------------------- titulos*/
.experiencia, .formacion, .skills, .proyectos, .otro{
    padding-bottom:100px;    
    
}

h2{
    font-size: 60px
}

hr{    
    border: 2px solid #3550A1;
    width: 100px;
    opacity: 100;    
}
.hr{
    padding-bottom: 15px;
}

/* ---------------------------------------- imagen logo institucion en componente → experience y education (formacion)*/
.img-logoE {
    width: 85px;
    height: 85px;
    border-radius: 0%; 
    /* border:1px solid gray;      */
}

/* ---------------------------------------- Botones de edicion*/

.btn-edicion{
    
    margin-right: 4px;
}
 






