<div class="experiencia">
    <div class="container py-5">

      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="col-md-8">
            <h2 class="h2 display-4 fw-bold lh-1 mb-3">Experiencia</h2>
            <div class="hr"><hr></div>
          </div>
          <!-- boton agregar -->
          <div class="col-md-12 text-end">
            <button type="button" class="btn btn-outline-secondary btn-edicion" data-bs-toggle="modal" data-bs-target="#agregarExperienciaModal">
              <i class="fa fa-plus"></i> Añadir
            </button>
          </div> <!-- /boton agregar -->

          <!-- Modal → agregar experiencia -->
          <div class="modal fade" id="agregarExperienciaModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="agregarExperienciaModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="agegarExperienciaModalLabel">Añadir Experiencia</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div><!-- /Modal → agregar experiencia -->


        

          <!-- card 1 -->
          <div class="card p-2">          
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-2">
                  <img src="assets/img/user-solid.svg" alt="user" class="mx-auto d-block img-logoE">
                </div>      
                <div class="col-sm-10 contenido-card">
                  <h5 class="card-title">Card title</h5>        
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>              
                </div>                   
              </div>  <!-- /row --> 
            </div><!-- /card-body --> 
            
            <!-- botones -->
            <div class="col-md-12 text-end py-1 px-1">

              <!-- Boton → editar -->
              <button type="button" class="btn btn-outline-primary btn-edicion" data-bs-toggle="modal" data-bs-target="#editarExperienciaModal">
                <i class="fa fa-edit"></i> 
              </button>

              <!-- Modal → editar experiencia -->
              <div class="modal fade" id="editarExperienciaModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarExperienciaModalLabel" aria-hidden="true">
                
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editarExperienciaModalLabel">Editar Experiencia</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div><!-- /Modal → editar experiencia -->
              
              <!-- Boton → borrar -->
              <button type="button" class="btn btn-outline-danger btn-edicion" data-bs-toggle="modal" data-bs-target="#borrarExperienciaModal">
                <i class="fa fa-trash"></i>
              </button>

               <!-- Modal → borrar experiencia -->
                <div class="modal fade" id="borrarExperienciaModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="borrarExperienciaModalLabel" aria-hidden="true">
                  
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="borrarExperienciaModalLabel">Borrar Experiencia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center">
                        <h1>borrar</h1>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div><!-- /Modal → borrar experiencia -->

            </div> <!-- /botones -->

          </div> <!-- /card 1 -->        
          
          <!-- card-2 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>        
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>        
            </div>
          </div> <!-- card 2 -->

        </div> <!-- columna-10 -->
        
      </div> <!-- /row -->
      
    </div><!-- container 1 -->

      
    
</div>
